:root {
    --color-5: #0bc;
    --color-4: #2cb;
    --color-3: #4d8;
    --color-2: #9d5;
    --color-1: #ed0;
    --color-search: #09c;
    --color-text: var(--color-bg);
    --color-shadow: #111;
    --color-box: #333;
}

