:root {
    --color-5: #585b70;
    --color-4: #7f849c;
    --color-3: #a6adc8;
    --color-2: #89b4fa;
    --color-1: #89dceb;
    --color-search: #89dceb;
    --color-text: var(--color-bg);
    --color-shadow: #1e1e2e;
    --color-box: #313244;
}
