:root {
    --color-5: #a6da95;
    --color-4: #eed49f;
    --color-3: #f5a97f;
    --color-2: #ee99a0;
    --color-1: #ed8796;
    --color-search: var(--color-1);
    --color-text: var(--color-bg);
    --color-shadow: #181926;
    --color-box: #24273a;
}
