:root {
    --color-5: #73631b;
    --color-4: #925a1b;
    --color-3: #b0511c;
    --color-2: #cf481c;
    --color-1: #ed3f1c;
    --color-search: var(--color-2);
    --color-text: #432;
    --color-box: #a99;
    --color-shadow: #706a60;
    --color-bg: #d9d2c6;
}

